main{
    background-image: url(../assets/images/fondo-contacts3.jpg);
    background-position: bottom;
    font-family: Quicksand;
    height: 100%;
}

@font-face {
    font-family: Quicksand;
    src: url(../assets/fonts/static/Quicksand-Regular.ttf);
    font-style: normal;
}
@font-face {
    font-family: Quicksand;
    src: url(../assets/fonts/static/Quicksand-SemiBold.ttf);
    font-weight: bold;
}
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}

 /* Pagina principal */
.main__logo {
    background-image: url(../assets/images/imagensalon.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 700px;
    display: grid;
    justify-items: center;
    align-items: center;


}
.main__logo img {
    transition:transform 0.5s;
    height: 50vh;
    width: 50vh;
    opacity: .7;
}

.main__logo img:hover {
    transform: scale(1.05);   
}

.main__description{
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 150px;
    width: 100%;
}

.main__description-text{
    color: rgb(131, 131, 131);
}

/* Galeria */
.main__carousel{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Servicios */

.main__card{
    font-family: Quicksand;
    height: 100%;
    transition:transform 0.5s;
}
.main__card:hover {
    transform: scale(1.05);
}

/* Contacto */

.main__contact{
    height: 700px;
}

/* Como llegar */
.map{
    width: 100vw;
}


/* Media Queries */
@media (max-width: 423px) {
    .main__logo img {
        transition:transform 0.5s;
        height: 50vh;
        width: 80vw;
        opacity: .6;
    }
    .main__description{
        display: grid;
        justify-content:start;
        align-content:flex-start;
        padding-top: 150px;
}